<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :displayName %>
    <%= form.text_field :displayName %>
  </div>

  <div class="field">
    <%= form.label :netid %>
    <%= form.text_field :netid %>
  </div>

  <div class="field">
    <%= form.label :duid %>
    <%= form.text_field :duid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
