<p id="notice"><%= notice %></p>

<p>
  <strong>Displayname:</strong>
  <%= @admin.displayName %>
</p>

<p>
  <strong>Netid:</strong>
  <%= @admin.netid %>
</p>

<p>
  <strong>Duid:</strong>
  <%= @admin.duid %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
