<p id="notice"><%= notice %></p>

<p>
  <strong>Displayname:</strong>
  <%= @user.displayName %>
</p>

<p>
  <strong>Netid:</strong>
  <%= @user.netid %>
</p>

<p>
  <strong>Duid:</strong>
  <%= @user.duid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
