<%= form_with(model: sample_person_map, local: true) do |form| %>
  <% if sample_person_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sample_person_map.errors.count, "error") %> prohibited this sample_person_map from being saved:</h2>

      <ul>
      <% sample_person_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sampleBarCode %>
    <%= form.text_field :sampleBarCode %>
  </div>

  <div class="field">
    <%= form.label :personTestedDuid %>
    <%= form.text_field :personTestedDuid %>
  </div>

  <div class="field">
    <%= form.label :whoDidSampleScanNetid %>
    <%= form.text_field :whoDidSampleScanNetid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
