<p id="notice"><%= notice %></p>

<h1>Sample Person Maps</h1>

<table>
  <thead>
    <tr>
      <th>Samplebarcode</th>
      <th>Persontestedduid</th>
      <th>Whodidsamplescannetid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sample_person_maps.each do |sample_person_map| %>
      <tr>
        <td><%= sample_person_map.sampleBarCode %></td>
        <td><%= sample_person_map.personTestedDuid %></td>
        <td><%= sample_person_map.whoDidSampleScanNetid %></td>
        <td><%= link_to 'Show', sample_person_map %></td>
        <td><%= link_to 'Edit', edit_sample_person_map_path(sample_person_map) %></td>
        <td><%= link_to 'Destroy', sample_person_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample Person Map', new_sample_person_map_path %>
