<p id="notice"><%= notice %></p>

<p>
  <strong>Samplebarcode:</strong>
  <%= @sample_person_map.sampleBarCode %>
</p>

<p>
  <strong>Persontestedduid:</strong>
  <%= @sample_person_map.personTestedDuid %>
</p>

<p>
  <strong>Whodidsamplescannetid:</strong>
  <%= @sample_person_map.whoDidSampleScanNetid %>
</p>

<%= link_to 'Edit', edit_sample_person_map_path(@sample_person_map) %> |
<%= link_to 'Back', sample_person_maps_path %>
