<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @activity.action %>
</p>

<p>
  <strong>Note:</strong>
  <%= @activity.note %>
</p>

<p>
  <strong>Netid:</strong>
  <%= @activity.netid %>
</p>

<p>
  <strong>Duid:</strong>
  <%= @activity.duid %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
